body {
  margin: 0;
  font-family: 'Assistant', 'Varela Round', tahoma, sans-serif;
  background-image: url("/src/Images/background5.png");
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container{
  max-width: 1140px;
}

.button{
  color: #246D82 !important;
  border: #E8B4B0 solid 2px !important;
  border-radius: 18px!important;
  background-color: #F0F0E6!important;
  padding: 0em .5em 0em .5em;
}

.button:hover{
  background: #F0CCC6!important;
}

.navBar{
 background-color: #F0F0E6;
 opacity: .95;
 padding: 10px;
}

.nav-link{
  color: #246D82!important;
}

.logo{
  height: 70px;
  padding: 10px;
}

.footer{
  background-color: #D08C6C;
  opacity: .95;
  color: #F0F0E6;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url("/src/Images/dropdown.png")!important;
  width: 2em!important;
  object-fit: cover!important;
  border: none!important;
}

.navbar-light .navbar-toggler{
  border: none!important;
}

tbody, td, tfoot, th, thead, tr {
  border-color: #F0CCC6!important;
 border-style: solid;
 text-overflow: ellipsis; 
}

p{
  text-overflow: ellipsis!important; 
  overflow: hidden;
}


@media only screen and (max-width: 600px) {
  .homepageImage1 {
    position: relative!important;
  }

  .homepageImage2 {
    display: none!important;
  }
}