body {
  margin: 0;
  font-family: 'Assistant', 'Varela Round', tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Varela Round', sans-serif;
}

.h1, .h2, .h3 {
  font-family: 'Assistant', sans-serif;
  padding: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
