.homepage1{
    background-color: #F0F0E6;
    opacity: .95;
    margin-top: -18px;
    padding: 40px 30px 40px 30px;
    color: #246D82;
  }
  
.homepage2{
    background-color: #F0F0E6;
    opacity: .98;
    color: #D08C6C;
    padding: 25px 0px 25px 10px;
    text-align: left;
  }

.homepage3{
    margin: 30px 0px 30px 0px!important;
    padding: 35px!important;
    background-color: #F0F0E6;
    color: #246D82;
    border: #E8B4B0 solid 3px;
    border-radius: 5px;
    line-height: 2em;
    opacity: .98;
    text-overflow: ellipsis; 
}

.notificationBadge{
  background-color: #246D82!important;
  margin-left: 5px!important;
  padding: 5px 10px!important;
}

.homepage4{
  opacity: .95;
  margin: 0px;
  margin-bottom: 20px;
  padding: 35px!important;
  background-color: #246D82;
  line-height: 2em;
  color: #F0F0E6
  } 

.buttonBox{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.homepageImage{
    position: absolute;
    top: 0px;
    left: 0px;
  }

.homepageImage1{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  height: 420px;
  z-index: 20;
}

.homepageImage2{
  position: absolute;
  height: 420px;
  z-index: 10;
}

.homepage2Header{
  margin-bottom: 15px;
  margin-left: 10px;
}

.upcomingEventTable{
  color: #246D82;

}